{% if url_parts[1] == 'server' %}
<div style="background-color: rgb(19,63,0); border-top: 1px solid #1C5F00; border-bottom: 1px solid #091F00; text-shadow: 1px 1px 1px #333">
	<div class="container small" style="font-weight: 600">
    <ul id="secondary" class="nav">
      <li class="nav-item"><a href="/server/" class="nav-link{% if url_parts[2] == nil %} active{% endif %}"><i class="fa fa-caret-{% if url_parts[2] == nil %}down{% else %}right{% endif %} mr-2"></i>Home</a></li>
      <li class="nav-item"><a href="/server/compare/" class="nav-link{% if url_parts[2] == 'compare' %} active{% endif %}"><i class="fa fa-caret-{% if url_parts[2] == 'compare' %}down{% else %}right{% endif %} mr-2"></i>Compare</a></li>      
      <li class="nav-item"><a href="/server/pricing/" class="nav-link{% if url_parts[2] == 'pricing' %} active{% endif %}"><i class="fa fa-caret-{% if url_parts[2] == 'pricing' %}down{% else %}right{% endif %} mr-2"></i>Pricing</a></li>
      <li class="nav-item"><a href="/server/installation/" class="nav-link{% if url_parts[2] == 'installation' %} active{% endif %}"><i class="fa fa-caret-{% if url_parts[2] == 'installation' %}down{% else %}right{% endif %} mr-2"></i>Installation</a></li>
		</ul>
	</div>
</div>
{% if url_parts[2] == nil %}
<div style="border-top: 1px solid #1C5F00; background: rgb(19,63,0);background: -moz-linear-gradient(left, rgb(19,63,0) 0%, rgb(38,127,0) 50%, rgb(19,63,0) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(19,63,0)), color-stop(50%,rgb(38,127,0)), color-stop(100%,rgb(19,63,0)));background: -webkit-linear-gradient(left, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);background: -o-linear-gradient(left, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);background: -ms-linear-gradient(left, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);background: linear-gradient(to right, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133F00', endColorstr='#133F00',GradientType=1 );border-bottom: 1px solid #333">
  <div class="container">
    <div class="row">
      <div class="col py-4">
        <h3 class="font-weight-bold" style="color: #fff; text-shadow: 2px 2px 2px #333333;">A painless self-hosted accounting software</h3>
        <p class="mb-4" style="font-weight: 600; color: #fff; line-height: 200%; text-shadow: 1px 1px 1px #333333">Download, install and use. All on your own server. No monthly fees, ever. You own it.</p>
        <a class="btn btn-light btn-lg mr-3 mb-3" href="/server/installation/" style="font-weight: bold">Free Trial</a>
        <a class="btn btn-outline-light btn-lg mb-3" href="/server/compare/" style="font-weight: bold">Compare with Cloud Edition <i class="fa fa-cloud"></i></a>
      </div>
      <div class="col d-none d-lg-block">
        <img src="/server/cover.png">
      </div>
    </div>
  </div>
</div>
{% else %}
<div style="border-top: 1px solid #1C5F00; background: rgb(19,63,0);background: -moz-linear-gradient(left, rgb(19,63,0) 0%, rgb(38,127,0) 50%, rgb(19,63,0) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(19,63,0)), color-stop(50%,rgb(38,127,0)), color-stop(100%,rgb(19,63,0)));background: -webkit-linear-gradient(left, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);background: -o-linear-gradient(left, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);background: -ms-linear-gradient(left, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);background: linear-gradient(to right, rgb(19,63,0) 0%,rgb(38,127,0) 50%,rgb(19,63,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133F00', endColorstr='#133F00',GradientType=1 );border-bottom: 1px solid #333; color: #fff; text-shadow: 2px 2px 2px #333333"><div class="container pt-4 pb-4"><h3 class="font-weight-bold">{{ page.title }}</h3></div></div>
{% endif %}
{% endif %}