---
layout: desktop
title: Translations
---
<h4 class="text-center font-weight-bold">Use in any language</h4>
<p class="text-center lead mb-4">Manager is being translated by volunteers from all over the world.</p>

  <table class="table table-striped">
    <tbody>
      {% for lang in site.data.translations %}
      <tr>
        <td class="text-right"><span class="badge badge-pill badge-dark">{{ forloop.index0 | plus:1 }}</span></td>
        <td class="pr-4">
          <h5 class="font-weight-bold"><a href="/{{ lang.code }}/">{{ lang.name }}</a></h5>
          <div class="text-muted small">{{ lang.translators }}</div>
        </td>
        <td style="width: 200px">
          <div class="progress"><div class="progress-bar{% if lang.percentage == 100 %} bg-success{% endif %}" style="width: {{ lang.percentage }}%">{% if lang.percentage > 19 %}{{ lang.percentage }}%{% endif %}</div></div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<div class="text-center text-muted small mb-2">As at {{ site.time | date: '%B %-d, %Y' }}</div>
<div class="text-center mb-4"><a href="https://webtranslateit.com/en/projects/2694-Manager/invitation_request" class="btn btn-primary font-weight-bold">Join Translation Team</a></div>